[2017-03-08 19:29] dansup opened #1 "Add to cdnjs"
Hello,

Great work! These themes are excellent. A few months ago I was looking for exactly this but could only find [bulmathemes](http://bulmathemes.com/), which doesn't seem finished.

Anyways, I was looking to use this project to showcase various themed [bulma templates](https://github.com/dansup/bulma-templates) and I was wondering if you had considered submitting your project to [cdnjs](https:

[2017-03-08 19:51] jenil commented on #1
Hey,

Thanks!

Yes, that's on the list. I just created a request to add, track here https://github.com/cdnjs/cdnjs/issues/10823

Cheers ☕️

[2017-04-08 09:45] sinnedh opened #2 "Problem when using with bulma installed by yarn"
Hello,

thanks for your package. It is really great. I have a question:
when I'm installing both `bulma` and `bulmaswatch` with yarn the imports of `bulma` do not work, see e.g.
https://github.com/jenil/bulmaswatch/blob/gh-pages/default/bulmaswatch.scss#L3

Replacing the import
`@import "bulma";`
by
`@import "~bulma";`
solves the problem but this is probably not the best solution.

Is there a way

[2017-04-19 05:08] jenil commented on #2
Hey,

Thanks for using Bulmaswatch.

You're right, the build is failing because it can't find the `@import "bulma";`

I assume you are using Webpack and that's why `@import "~bulma";` might work for you, but for Bulmaswatch I am building the themes using `gulp` and you need to have an [includePaths](https://github.com/jenil/bulmaswatch/blob/gh-pages/gulpfile.js#L63) so that sass can find the respe

[2017-04-24 12:08] coussej opened #3 "Bulma 0.4.1"
Hi there, awesome work on the themes! Much appreciated. I like bulma for the fact that it is just a css file, and being able to replace that file with one of these for themes makes it just too easy 😄

I was just wondering, any plans on upgrading to Bulma 0.4.1? While most of the style works just fine, some things are missing, like the [new field element](http://bulma.io/2017/03/10/new-field-elemen

[2017-04-24 16:09] jenil commented on #3
Hey,

Yes, I was waiting for Bulma 0.4.1. I will be updating the themes to 0.4.1 in next 2 weeks or so.

Thanks!

[2017-05-01 22:55] jenil commented on #3
Updated to 0.4.1 https://github.com/jenil/bulmaswatch/pull/5

[2017-05-01 22:55] #3 closed, assigned to nobody

[2017-05-01 23:50] jenil commented on #2
Hey @sinnedh

I just published changes to the npm package with the new structure of the themes which should solve the missing import. Head to the [help](https://jenil.github.io/bulmaswatch/help/) page to read about customization with `yarn`/`npm`.

Cheers!

[2017-05-01 23:50] #2 closed, assigned to nobody

[2017-05-24 21:18] fenwick67 commented on #1
Hey @jenil it looks like they closed your request because the repo wasn't popular enough, but now you have over 100 stars so you meet [their popularity requirements](https://github.com/cdnjs/cdnjs/blob/master/PULL_REQUEST_TEMPLATE.md).  Would you be able to open another issue?

[2017-05-31 07:10] jenil commented on #1
Folks, there is a PR under review, track here https://github.com/cdnjs/cdnjs/pull/11339

[2017-05-31 13:16] sinnedh commented on #2
First of all, sorry for the late response. I was on vacation and also not watching this issue.

Thanks for the changes in the structure of the theme.

The solution with webpack would be, to replace:
[code]
with the separate imports:
[code]

Did I understand this correctly?

[2017-06-01 07:25] jenil commented on #2
@sinnedh it would be:

[code]

[2017-06-03 18:40] fenwick67 opened #6 "Do you take PRs?"
I was working on a Bulma theme using this repo as a a starting point, would you take a PR with a new theme?

If so, do you have criteria for themes that "pass muster"?

[2017-06-04 06:04] jenil commented on #6
Hey!

I don't mind mind taking a PR if the theme uses a different aesthetic, and not just mere colour changes. There is no criteria as such but a screenshot of the theme along with the PR and following the coding style is a must.

[2017-06-05 09:41] jenil commented on #1
Added to cdnjs https://cdnjs.com/libraries/bulmaswatch

[2017-06-05 09:41] #1 closed, assigned to nobody

[2017-06-08 22:13] sinnedh commented on #2
You are right, thanks a lot!

[2017-06-18 10:28] danmusk opened #7 "Links in hamburgermenu gets same color as background"
When using the "hamburgermenu", the text-color on the links is the same as the links in the main-menu. Resulting in a ex. white links on white background.

[2017-06-18 10:43] jenil commented on #7
Hey @danmusk, can you provide a screenshot or some more details like which theme? or a code snippet?

[2017-06-18 18:46] danmusk commented on #7
I created a fiddle to show the use case. If you show it in mobile-size, the hamburgermenu will appear and you will see what I mean: https://jsfiddle.net/hewag0a1/2/
Thanks for your work on bulmaswatch!

[2017-06-24 17:03] jenil commented on #7
oh I see what you are talking about, will fix it.

[2017-07-01 19:54] #7 closed, assigned to jenil

[2017-07-15 05:57] jhoff opened #8 "Add support for new navbar component"
Bulma 2.4 introduced the navbar which will eventually replace nav -
 http://bulma.io/documentation/components/navbar/

The following link provides the relevant variables that need to be redefined for each theme:
https://github.com/jgthms/bulma/blob/master/sass/components/navbar.sass

[2017-07-16 18:04] bentayloruk opened #9 "Select dropdown arrow over the select content"
Just found bulmswatch today.  Thanks for your hard work.

I was using the current `0.4.2` CDN version of Bulma, like this:
`<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css">`

When I have a select styled, it looks like this (correct):
![image](https://user-images.githubusercontent.com/189409/28250058-f15d4542-6a58-11e7-83f5-697bd5d60572.png)

If I swit

[2017-07-17 15:54] jenil commented on #9
hey @bentayloruk

I see what you are talking about, I'll fix the padding in the next update.

[2017-07-17 16:23] bentayloruk commented on #9
Awesome, thanks!

[2017-07-21 19:52] Nikpds opened #10 "Update to 0.4.3"
is it possible to update themes to bulma version (missing things like breadcrumb)

[2017-07-21 19:56] jenil commented on #10
yes, definitely, will be on the 0.4.3 update this weekend 👨🏻‍💻

[2017-07-24 15:34] jenil commented on #10
this is going to take longer than expected. please track the [v0.4.3](https://github.com/jenil/bulmaswatch/tree/v0.4.3) branch in the meantime

[2017-07-24 15:37] jenil commented on #9
So getting deeper into the issue this seems to be an issue with the minifier FYI https://github.com/jgthms/bulma/issues/754

Bulmaswatch uses cssnano for the minification and the v4 fixes this issue. will push an update along with the v0.4.3 update.

[2017-07-24 15:38] #6 closed, assigned to nobody

[2017-07-31 04:28] #10 closed, assigned to jenil

[2017-07-31 14:42] jenil commented on #8
hey @jhoff this was added in 0.4.3 release with #11

[2017-07-31 14:42] #8 closed, assigned to jenil

[2017-07-31 15:53] jhoff commented on #8
Thanks!

[2017-07-31 15:59] ByteOfMelon opened #12 ""Error: Undefined variable: $button-focus-border" in _overrides.scss for Darkly"
Hi, I'm having an issue importing Bulmaswatch's Darkly into my project.

Here's the error:

"Error: Undefined variable: "$button-focus-border"
on line 39 of _overrides.scss"

I'm using Bulmaswatch 0.4.3, Bulma 0.4.3

Is this variable needed at all?

[2017-07-31 16:12] ByteOfMelon commented on #12
Never mind, i'm just dumb lmao

[2017-07-31 16:12] #12 closed, assigned to nobody

[2017-08-01 04:29] CopaceticCalypso opened #13 "Update to Bulma 0.5.1"
[Bulma Changelog](https://github.com/jgthms/bulma/blob/master/CHANGELOG.md)

With 0.5.0, Bulma did some major variable renaming and things don't compile well with the current 0.4.3 swatch SCSS.

[2017-08-08 01:29] jenil commented on #9
Hey @bentayloruk,

This was fixed in [this commit](https://github.com/jenil/bulmaswatch/commit/fb5d7fece700c82fbe71fcdc9530f7313d3e05c9)
Please try now.

[2017-08-08 01:33] #9 closed, assigned to jenil

[2017-08-08 08:01] bentayloruk commented on #9
Awesome thanks!  Will try it out as soon as I can.

[2017-08-09 19:02] djasnowski commented on #12
What was the answer? I am having the same problem @TheRandomMelon  @jenil

[2017-08-09 19:05] djasnowski opened #15 "Module build failed: Undefined variable: "$button-focus-border"."
Trying to even get this started and I am getting this.

On `app.scss`:

[code]

Gives me:

[code]

[2017-08-09 19:09] jenil commented on #15
This is an import error, check if you imported `bulma` and `bulmaswatch` correctly

[2017-08-09 19:16] djasnowski commented on #15
Hi @jenil

In my `bula/bulma.sass`, I have:

[code]

What else do I need? I'm a bit lost here... I cannot find the root bulma and importing `bulma/bulma` does not help. Thanks.

[2017-08-09 19:56] jenil commented on #15
How are you compiling? you need to give it the path to `bulma` for it to build properly

[2017-08-09 20:04] djasnowski commented on #15
Ah, you're right. I am using Laravel Mix. Thanks!

[2017-08-10 02:48] jenil commented on #13
Hey, I just pushed 0.5.0, will update to 0.5.1 soon.

[2017-08-10 04:35] CopaceticCalypso commented on #13
You rock!

[2017-08-10 04:35] #13 closed, assigned to jenil

[2017-08-10 12:36] bentayloruk commented on #9
Working for me, thank you Sir!

[2017-08-10 14:33] #15 closed, assigned to nobody

[2017-08-11 03:38] ByteOfMelon commented on #12
@naknode what version of Bulmaswatch and Bulma are you using?

[2017-08-11 20:15] ByteOfMelon opened #17 "Darkly preview on website is broken"
![image](https://user-images.githubusercontent.com/22629722/29230269-da4c7ef0-7ea7-11e7-9f4a-93fc389a4d97.png)

As you can see, the text is black-on-black.

[2017-08-11 20:15] ByteOfMelon commented on #17
Also,
![image](https://user-images.githubusercontent.com/22629722/29230287-ed988210-7ea7-11e7-9d0b-49f529e70f2b.png)

There's a weird white border on the page.

[2017-08-12 03:21] #17 closed, assigned to jenil

[2017-08-12 21:07] djasnowski commented on #12
@TheRandomMelon  No worries. I decided to use Semantic UI instead.

[2017-08-13 22:35] ByteOfMelon commented on #12
@naknode alright

[2017-08-14 08:28] Nikpds opened #18 "Solar Theme"
Good morning everyone. one question about solar theme. After the last update to 0.5.0 the table has white background color  and its doesn't take 100% width of its parent. is it meant to be like this ? Also the button text color has change. I notice also many changes on menu colors . The changed colors are too dark for the rest of the theme.

[2017-08-14 12:51] jenil commented on #18
Hey @nikpds, thanks for pointing out, that's probably an issue due to the change in variable naming conventions, I'll fix it.

[2017-08-14 17:39] Nikpds commented on #18
Glad i could help.

[2017-08-14 18:19] jenil commented on #18
Keeping this open until fixed.

[2017-08-15 01:38] #18 closed, assigned to jenil

[2017-08-21 00:11] djasnowski commented on #15
I just realized my error @jenil .. I was compoling `.sass` with a `.scss` compiler.  -__- Anyway, thank you!

[2017-08-25 18:36] nedjo opened #19 "Move navbar out of hero-header"
Thanks for your great work on Bulmaswatch. It's a big attraction of integrating with Bulma. I'm currently working on [adding support for Bulmaswatch to a Drupal theme](https://www.drupal.org/node/2901948).

Some challenges I'm hitting relate to display of the navbar component. I know you've done work as noted in #8. Still, in several themes I'm finding the nav item text is invisible (same colour a

[2017-08-25 18:42] jenil commented on #19
I know about the issue, this is mainly coz of 2 reasons:
- New navbar support for hero, which is still being worked on https://github.com/jgthms/bulma/pull/945
- Renaming of variables

I will wait for Bulma to support the navbar inside of a hero and then upgrade the themes. In the meantime, if there is a breaking issue (like invisible text) or an issue caused due to renamed variables, I am happy t

[2017-08-25 19:02] nedjo commented on #19
Great, makes sense, thanks. I'll see if I can work up some pull requests. I'll close this and open other issues as appropriate.

[2017-08-25 19:02] #19 closed, assigned to nobody

[2017-08-27 00:27] nedjo commented on #19
Looked into this some more. My use case is: allow users to switch bulmaswatch themes, meaning the same HTML structure must work for all themes.

The main challenge is if using a navbar in a context where it doesn't use full browser width. This is true for example if using a structure like that on bulma.io, particularly if, like that site, the navbar's container is followed by a hero layout with ba

[2017-08-27 02:10] jenil commented on #19
I totally agree with you on the `$navbar-background-color` set to `$white` issue which is not a good call by the Bulma developer as it has to be overridden even when there are other variables like `$body-background`

Here is another issue with a similar concern https://github.com/jgthms/bulma/issues/837

[2017-09-01 12:51] MannikJ opened #20 "Not working with new navbar"
The themes do not work correctly with the new bulma navbar (navbar-* classes) as explained in the docs:
http://bulma.io/documentation/components/navbar/

[2017-09-01 13:21] MannikJ commented on #20
Just saw the problem is known already. See #19

[2017-09-01 13:21] #20 closed, assigned to nobody

[2017-09-14 09:02] Nikpds opened #21 "Sandstone input with button bug"
I notice a bug in input with attach button. when you set input to large size and to button as well the sizes do not match. i test it on small size too and there is also a difference there.

Thank you in advance.

[2017-09-14 14:11] jenil commented on #21
hey @Nikpds

Is this what you are talking about?

![image](https://user-images.githubusercontent.com/971411/30434328-00c6dc86-9935-11e7-9ad1-512ff153494b.png)

[2017-09-14 15:58] Nikpds commented on #21
yes and something similar happens when you set size to small.

[2017-09-17 05:39] #21 closed, assigned to jenil

[2017-11-15 01:39] fenwick67 opened #24 "0.6.1 update"
Bulma recently moved to 0.6 and there are a few updates.

The biggest changes that will effect Bulmaswatch is the new blue `link` color, and the navbar markup changed.

https://bulma.io/2017/10/09/roses-are-red-links-are-blue/

[2017-11-15 17:40] jenil commented on #24
Yes, I am aware. Its a lot of work and I am gradually updating each theme. You can check the progress [here](https://github.com/jenil/bulmaswatch/tree/0.6.0).

[2017-12-12 20:49] ghost commented on #24
@jenil Since you're in the process of updating themes, here are a few things I noticed that need fixing.

**First** the navbar, when it changes to responsive mode the navbar links look like this (see image below).

![4b7ccaf6-df38-453c-b62e-de490e4fee71](https://user-images.githubusercontent.com/8528269/33907441-25aca248-dfc0-11e7-85e3-aab47060ffaa.png)

Fixed by doing this:

![e7857621-7b23-4a8b-

[2017-12-12 23:03] jenil commented on #24
@raniesantos noted. I am aware of the first point. Thanks for pointing out the second one, I'll fix that.

[2017-12-15 18:47] m5o opened #25 "update dependencies with deprecation warnings"
Some packages are deprecated. A warning is displayed on package installation. Is this something that can be fixed quickly? 🐛

[code]

[2017-12-17 18:27] jenil commented on #25
I personally prefer yarn, so have [committed](https://github.com/jenil/bulmaswatch/commit/8d503efdf37319ef503888ff227800c133fe7316) the lock files and updated deps.

[2017-12-17 18:27] #25 closed, assigned to nobody

[2017-12-25 18:07] jenil commented on #24
hey @raniesantos I was debugging the form controls with icons and realized that the selector you mentioned is coming from Bulma and has nothing to with Bulmaswatch. In fact, I believe the `is-clickable` selector is something that is Buefy specific and does not come with Bulma. Can you confirm this?

[2017-12-26 07:38] ghost commented on #24
@jenil Ok, so I have this in my scss file:

[code]

As you can see, Bulma isn't in here. It just works that way, I assume that the Bulma base styles are just included in Buefy by default.

I checked it all again and **when I comment out the Bulmaswatch import**, the eyeball icon on the password field becomes functional again, it really won't work with Bulmaswatch included.

About `is-clickable`, y

[2018-02-04 00:29] jenil commented on #24
I am sorry this took so long. I just published [v0.6.0](https://github.com/jenil/bulmaswatch/releases/tag/v0.6.0).

Will soon update to 0.6.1 and 0.6.2.

[2018-02-04 04:25] raniesantos commented on #24
Can't complain, you do thisnfor free anyway.

[2018-02-04 07:48] ghost commented on #24
@jenil
This line you added at the top of `_variables.scss` for the **Cyborg** theme broke it.

[code]

I checked the other variable files in the other themes and this line doesn't exist. If I remove it manually I get missing variable errors.

[2018-02-04 16:25] jenil commented on #24
@raniesantos thanks for reporting, that was a new technique I was trying to import the default Bulma variables, but I guess it breaks the build process for a few people. I have reverted it and should be fine now.

[2018-02-04 17:37] jenil commented on #24
Published [0.6.1](https://github.com/jenil/bulmaswatch/releases/tag/v0.6.1) 🎉

I'd appreciate if you guys test it thoroughly and LMK if you have issues

[2018-02-04 17:37] #24 closed, assigned to jenil

[2018-02-21 13:58] maarteNNNN opened #27 "Getting an overflow in .media-content"
# Bug
![screenshotatuploadcc_1519220952262](https://user-images.githubusercontent.com/14275291/36483556-40deed2a-16f5-11e8-8268-ee3439d297be.png)
# Expected behaviour
No overflow at all
# Suggested edit
[code]
# Things I checked
I've compared it to standard Bulma as well as the Superhero style both of them didn't have the bug.
When I look in the element styles:
`overflow: auto`
Opening it says:
[c

[2018-02-21 15:17] jenil commented on #27
Hey, I don't see this bug on https://jenil.github.io/bulmaswatch/lux/#card

Can you make a Codepen or fiddle and share it?

[2018-02-22 21:29] ghost opened #29 "Dropdown color variables"
There seems to be some variables that are either missing or not overridden for dropdowns.

Specifically hover color and hover background color.

For reference I'm using Cyborg theme. Hovered dropdown items have black text on dark gray backgrounds and have the exact same hover background. You probably only need to do this for dark themes.

Bulma file: https://github.com/jgthms/bulma/blob/master/sas

[2018-02-25 02:31] maarteNNNN commented on #27
I'm not able to get the Lux file in the pen. (I never used Codepen or jsfiddle)

[Pen can be seen here](https://codepen.io/maarteNNNN/pen/gvdjyL)

Edit:
I added the bulma css and the scroll appeared! If you comment bulma.css out it should disappear.

[2018-02-25 03:10] jenil commented on #27
Got it, this is an issue with Bulma 0.6.2, try using 0.6.1 and it should work. I'll fix this in the next version.

[2018-03-01 22:16] kirqe commented on #29
<img width="691" alt="screen shot 2018-03-02 at 01 16 23" src="https://user-images.githubusercontent.com/5272402/36872760-61e5a77a-1db7-11e8-834e-3f5afb0dfe91.png">

[2018-03-02 00:55] jenil commented on #29
As you see this is introduced by Bulma itself. I'll update wait till the author fixes it. https://github.com/jgthms/bulma/issues/837

[2018-03-02 09:48] ghost commented on #29
@jenil can you at least do a quick check on the Cyborg theme variables?

A dropdown component is being used in the screenshot below.

The first item is hovered (I didn't have a tool to capture the mouse at the moment) and has black text on a dark grey background (the background color doesn't change on hover).

![screenshot from 2018-03-02 17-42-44](https://user-images.githubusercontent.com/8528269

[2018-03-02 14:31] jenil commented on #29
I did check that and agree that is a variable issue. I'll fix all the affected themes soon. Look out for the 0.6.3 update by next week.

[2018-03-12 12:32] RPDeshaies opened #30 "Using the disabled attribute on a button while using the Slate theme makes the button unreadable"
# Description
The text of a `disabled` button in the `slate` theme is not readable

![image](https://user-images.githubusercontent.com/6224111/37283778-9a18f26c-25cf-11e8-9d21-d9e0e477dd28.png)

# Steps to reproduce
* Load the `slate` theme
* Use the following HTML code

[code]

[2018-03-24 08:01] aocneanu opened #33 "Possible problem with the notifications in some of the themes"
Hi,

First, thank you for this repo. I use your themes in my [project](https://github.com/laravel-enso/enso) and they add a great value.

There is one problem that I noticed with the notification class in three of the themes: cerulean, simplex and spacelab. In these themes the notification class is transparent, making the notification class unusable in some cases. Do you think that this is somethi

[2018-03-24 09:13] aocneanu opened #34 "Error when compiling lumen"
When compiling lumen with webpack I get `File to import not found or unreadable: sass/utilities/initial-variables.sass`

https://github.com/jenil/bulmaswatch/blob/gh-pages/lumen/_variables.scss#L4

[2018-03-24 14:19] jenil commented on #34
I see, Lumen uses the Bulma `initial-variables` and hence requires them to be imported. I think I will eliminate this in the next release.

[2018-03-24 14:21] aocneanu commented on #34
Aham, cool. In my project I do this for all the themes (ex for cerulean). For now I manually removed the import for lumen and the build went well.

[code]

[2018-03-24 14:22] jenil commented on #33
Gotcha, this is because they use `rgba`, I'll fix this too!

[2018-03-24 14:55] jenil commented on #34
Fixed in https://github.com/jenil/bulmaswatch/commit/0168e4eb91c9b6a6f0c736fff163ff4356ca9201
will be shipping with 0.6.3

[2018-03-24 14:55] #34 closed, assigned to jenil

[2018-03-24 15:09] #30 closed, assigned to jenil

[2018-03-24 16:16] RPDeshaies commented on #30
😄

[2018-03-24 17:45] maarteNNNN commented on #27
[here is an issue](https://github.com/jgthms/bulma/issues/1428) on bulma having the same problem
[here is the commit](https://github.com/jgthms/bulma/commit/00801d1e602d004c4283eb265af61338282c77c1) in v0.6.3 this will be fixed on bulma so I think I can close this issue.

[2018-03-24 17:47] #27 closed, assigned to jenil

[2018-03-31 07:47] ghost opened #35 "Tab colors"
Are these white background colors on the tabs intentional or a bug?

I took this screenshot straight from here: http://jenil.github.io/bulmaswatch/cyborg/

![b](https://user-images.githubusercontent.com/8528269/38161110-24addee4-34fb-11e8-9740-f25e39f62c6c.png)

[2018-03-31 14:26] jenil commented on #35
It's a bug, not a feature. Thanks for reporting it!

[2018-05-06 13:07] Bluexin opened #36 "Issue with File input size and has-addons"
Here's how it looks with default theme (not latest bulma, but the `default` from bulmaswatch) :
![image](https://user-images.githubusercontent.com/8713616/39673472-2f7818f4-513d-11e8-9120-cee271f7ac00.png)

Using Darkly theme :
![image](https://user-images.githubusercontent.com/8713616/39673474-5197a0e4-513d-11e8-8b8d-4aeeb9dd9152.png)

Left part is a file input with a FA, right part is some other

[2018-05-06 13:13] Bluexin commented on #36
EDIT: I just checked with high zoom, and it turned out even default one and latest Bulma round all corners on the file input

[2018-05-12 17:08] Kyslik commented on #34
Why is this closed if its not shipped yet?

[2018-05-21 08:59] piever opened #37 "Feature request: generate css for Bulma extensions"
I find it very handy to have a version of a theme available as css using CDN but this has the issue that, when using a [Bulma extension](https://wikiki.github.io/), the widgets from the extension don't get the new theme. I was wondering, if you're using some automated procedure to generate the bulmaswatch.min.css files, whether it would be possible to also generate css for the Bulma extensions (or

[2018-05-23 18:30] dsarfati opened #38 "Upgrade to latest Bulma"
We really love the themes you have created. Is there a schedule or process to keep bulmaswatch updated to the latest version of Bulma?

[2018-05-23 23:19] jenil commented on #38
Thanks for the love! I have been busy with graduation off late. I'll get on this soon, should be done in a couple of weeks.

[2018-05-23 23:21] jenil commented on #37
There is a build process to generate the `bulmaswatch.min.css` files but there is customization for each theme which needs manual CSS changes.

[2018-05-24 09:06] piever commented on #37
I managed to reproduce the css build step locally. It turns out that to include extensions in the theme, you can simply add (in your main.scss), after:

[code]

the required extensions, for example:

[code]

If you don't mind the slightly increased css side that results from this, maybe it would even be possible to include these extensions by default in the theme css (or maybe to have two versions

[2018-06-14 06:23] 0plus1 commented on #38
+1 would love the upgrade to latest

[2018-06-18 00:11] jfmcbrayer commented on #38
Is it possible to just build the bulmaswatch themes against the latest bulma?

[2018-06-30 02:55] jenil commented on #38
Published [0.7.0](https://github.com/jenil/bulmaswatch/releases/tag/v0.7.0)

[2018-06-30 03:02] jenil commented on #36
I believe this is a Bulma support question, try putting it on Stack Overflow

[2018-06-30 03:02] #36 closed, assigned to nobody

[2018-06-30 03:25] #35 closed, assigned to jenil

[2018-06-30 03:56] ghost commented on #35
@jenil welcome back

[2018-08-01 18:20] DJWoodZ opened #39 "Progress bars without color modifier are not visible in Darkly theme"
Hi,

Thank you for this great project!

In the current version (0.7.1), Darkly themed progress bars without a color modifier (e.g. `is-primary`) do not display progress. An example can be seen here: https://jenil.github.io/bulmaswatch/darkly/#progress

I believe this is because `$grey` is used for both the background and default bar color.

[2018-08-02 23:03] jenil commented on #39
Hey,

Thanks for reporting this. Yes I believe it is because of the recent updates, I'll fix it.

[2018-08-02 23:05] jenil commented on #37
I think have CSS built for extensions separately only makes senses, so I'm going to this issue for now.

[2018-08-02 23:05] #37 closed, assigned to nobody

[2018-08-07 18:53] DJWoodZ opened #40 "Pagination link text is hardly visible in Darkly theme"
Hi,

In the current version (0.7.1), the text of Darkly themed pagination links is difficult to read, as the text color is a similar shade of grey to the background.

This seems to affect:
- `pagination-link` (without `is-current` class)
- `pagination-previous`
- `pagination-next`

An example can be seen here: https://jenil.github.io/bulmaswatch/darkly/#pagination

[2018-08-07 19:00] DJWoodZ opened #41 "Text of some disabled form elements is hardly visible in Darkly theme"
Hi,

In the current version (0.7.1), the text of some Darkly themed elements that have the `disabled` attribute is difficult or impossible to read. This seems to affect elements that do not have a color modifier (e.g. `is-primary`). For example:

- `input` placeholder text
- `button` text

Examples can be seen here: https://jenil.github.io/bulmaswatch/darkly/#form (under the 'Disabled' section)

[2018-08-12 16:16] tehfink opened #42 "Recommended customization method"
Thanks for a great project. Sorry if this is a stupid question, but what's the recommended method for customizing a swatch, with an eye towards Bulma and BulmaSwatch updates? So far I've been tweaking `_variables.scss` & `_overrides.scss`.

[2018-08-17 18:28] jenil commented on #42
Take a look at [this issue](https://github.com/jenil/bulmaswatch/issues/2) for how to use it with npm/yarn.

I would do something like this:
[code]

[2018-08-17 18:28] #42 closed, assigned to nobody

[2018-08-17 19:26] #40 closed, assigned to jenil

[2018-08-17 19:26] #41 closed, assigned to jenil

[2018-08-17 19:41] #39 closed, assigned to jenil

[2018-08-17 19:43] jenil commented on #33
hey @aocneanu has this been fixed?

[2018-08-17 19:44] #38 closed, assigned to nobody

[2018-08-18 07:06] aocneanu commented on #33
Hi,

I just tested and it's the exact same behaviour.

[2018-08-29 15:33] ghost opened #43 "Navbar default border + has-shadow class = thick ugly gray line"
![633ef21a-3e40-41af-8ce9-7f9b65019b58](https://user-images.githubusercontent.com/8528269/44798364-d38d9f80-abe3-11e8-8fe1-66dad01015a2.png)

I'm wondering why the navbar here has a 1px solid border while the default theme has no border.

The navbar is supposed to have a light/subtle shadow but in this image it becomes a thick gray line.

[2018-08-29 15:47] ghost commented on #43
I upgraded from 6.1 to 7.1, that's when I noticed this.

See the image below for the change I noticed in the navbar. The border isn't really the problem, the box-shadow value changed.

![ffcb91aa-c10b-4c02-b229-7e7b5b435b25](https://user-images.githubusercontent.com/8528269/44799137-cf628180-abe5-11e8-9c66-1fab6b6874fe.png)

[2018-08-31 08:56] raniesantos commented on #43
## Same problem in other themes

Screenshot for Journal theme:

![screenshot from 2018-08-31 16-55-16](https://user-images.githubusercontent.com/8528269/44903296-bfaa8080-ad3e-11e8-9c68-e981f97cd51a.png)

[2018-08-31 09:28] ghost commented on #43
It seems to be a Bulma problem so I posted an issue over there.

jgthms/bulma#2081

Closing...

[2018-09-02 10:02] NicolasLM opened #44 "Pagination link text is hardly visible in Superhero theme"
Similar to issue #40, pagination buttons are the same color as the background.

See for example: https://jenil.github.io/bulmaswatch/superhero/#pagination

[2018-09-05 14:21] jenil commented on #44
@NicolasLM thanks for reporting, will look into it!

[2018-09-08 20:27] #44 closed, assigned to jenil

[2018-09-08 20:37] #33 closed, assigned to jenil

[2018-09-12 19:10] ghost opened #45 "Would it be possible to make the fonts in the themes optional?"
I'm using Journal which has this font in `_overrides.scss`

[code]

But I also want to use this font that I include through my HTML.

[code]

I would much rather **have them both be in the link tag** but News Cycle is hard coded into the overrides.

## Possible solutions:

Sass has control structures right? Can you add a boolean variable + an if-statement to conditionally include this font.

That

[2018-09-12 20:21] jenil commented on #45
I'm not sure what the issue is. Both the fonts load and both can be applied using respective CSS right?
Are you saying you just want to optimize the loading by just 1 web request for fonts?

[2018-09-12 20:27] ghost commented on #45
Yes, that's exactly what I'm trying to do. I know following PageSpeed isn't absolutely necessary but I just want to clear some of the warnings. The way the themes are setup prevent me from being able to.

Solution no. 2 seems easy enough to implement too.

[2018-09-12 20:38] ghost commented on #45
If you're busy I can just make a PR if you confirm you'll merge it.

[2018-09-12 20:43] jenil commented on #45
I'm not sure if `_theme-font.scss` is a good idea for such a small thing. If you can make a PR with a Sass conditional variable like `$enable-custom-fonts: true !default` which can control the `@import` then it might work.

[2018-09-12 20:45] ghost commented on #45
I guess you're right, both solutions are simple anyway. I might do it tomorrow morning.

[2018-09-14 17:07] ghost commented on #45
I've created the PR.

[2018-09-14 17:23] jenil commented on #45
cool, will review it over the weekend

[2018-09-16 13:53] #45 closed, assigned to nobody

[2018-09-26 16:35] diomed commented on #29
how long is *soon*

because now it's end of September... and you sait that in March

[2018-09-26 16:44] ghost commented on #29
@diomed Can you show me a screenshot of the incorrect colors in your project? (I'm not a Bulmaswatch maintainer just a fellow user)

[2018-09-26 16:50] diomed commented on #29
I don't see why. You have example screenshot above.
and this is issue you opened, and it isn't fixed.
https://jenil.github.io/bulmaswatch/materia/
still looks white on background when one hovers and menu falls down.

actually all white themes have the same problem

[2018-09-26 17:02] ghost commented on #29
Calm down, I was just curious what *your* layout looked like with this bug.

[2018-09-27 05:31] jenil commented on #29
Here is the origin issue https://github.com/jgthms/bulma/issues/837

[2018-09-27 05:35] jenil commented on #29
Also,  FWIW the dropdown color vars were fixed long back.

![image](https://user-images.githubusercontent.com/971411/46125084-29864f00-c245-11e8-9cf1-3660cab961e6.png)

https://jenil.github.io/bulmaswatch/materia/#dropdown

[2018-09-27 08:03] diomed commented on #29
do you actually see the screenshot kirqe posted in 2nd post?
look at navigation - navigation dropdown is the issue.
when you click on themes in navigation, list of links that drop down is not visible at all

[2018-09-27 08:08] jenil commented on #29
@diomed I do, please see the origin issue I linked above. The root of the cause is with bulma and not bulmaswatch.

[2018-09-27 08:44] diomed commented on #29
so you can't override color?

[2018-09-27 09:44] jenil commented on #29
I can, but it makes more sense to fix the issue at its root. If you'd like to fix it, override it in your custom CSS.

[2018-09-27 13:35] diomed commented on #29
I think it's your duty to issue a temporary fix and report it to bulma's repo, if you didn't already.
I'll report it myself if you tell me which one is exactly that's wrong.

[2018-09-30 10:44] ghost commented on #29
@diomed the maintainer of this project **DOES THIS FOR FREE**.
He has **NO DUTY** to us to fix every little thing in his project, specially considering that this is just a stylesheet which cannot have security bugs.
This problem is **VERY EASY TO PATCH IN YOUR OWN CODE**.
How lazy could you be that you expect the CSS framework to do everything for you?
Just override it, styles cascade, CSS was mad

[2018-10-12 16:46] ghost opened #47 "0.7.2 release"

[2018-10-13 05:14] DJWoodZ opened #48 "Warning text color"
Hi,

Some themes have a light/yellow warning background color with dark text. Other themes, such as Darkly and Flatly have light warning text.

If I enter the yellow color from one of those themes (#F1B70E) into this contrast checker tool: https://webaim.org/resources/contrastchecker/ it suggests that dark text is more accessible.

[2018-10-13 05:19] DJWoodZ commented on #48
It might be worth running this tool over the demo pages to see if it identifies any other contrast issues: https://squizlabs.github.io/HTML_CodeSniffer/

[2018-10-13 14:46] jenil commented on #48
oh interesting. Thanks, I'll take a look!

[2018-10-13 14:59] DJWoodZ commented on #48
Thanks! If you use HTML CodeSniffer it should suggest the closest color that has a good contrast.

[2018-10-14 18:12] jenil commented on #47
fixed with #49

[2018-10-14 18:12] #47 closed, assigned to jenil

[2018-10-14 18:16] jenil commented on #48
The closest colours that HTML CodeSniffer suggests is also very far from the current, which kinda doesn't look very nice on the themes.

[2018-10-14 18:37] DJWoodZ commented on #48
What about if you switch to a dark font for warnings?

[2018-10-16 19:36] obedm503 opened #50 "journal theme: inconsistency in link color"
I noticed that there is an inconsistency when it comes to link colors. In bulmaswatch the headers ("# 14" and "# 16"), which are also links, are blue (`$blue`) while in bootswatch they're red (the `$primary` for this theme).

Bulmaswatch left, bootswatch on the right
![image](https://user-images.githubusercontent.com/9118707/47040162-37940500-d14b-11e8-86ef-afb95872c5e8.png)

I can provide a pr if

[2018-10-16 20:24] jenil commented on #50
This was done intentionally since Bulma is a bit different than Bootstrap. Bulma has a `$link` color which need not necessarily be equal to `$primary`

![image](https://user-images.githubusercontent.com/971411/47045057-dc204200-d15f-11e8-8213-9f9679978263.png)

Feel free to override in your own file 🙂

[2018-10-16 20:35] obedm503 commented on #50
I wasn't sure if it was intentional. Thanks for the answer.

[2018-10-16 20:35] #50 closed, assigned to nobody

[2018-10-18 11:56] thatkookooguy opened #51 "box element scss variables not present"
can't set any of the scss variables for the Element Box when including the bulmaswatch overrides.

for example: `$box-background-color` is not present, so I can't match that color easily in my scss

should I add them to the `_variables.scss` file?

Also, shouldn't that variable be used in the `_overrides` file? it looks like `$black-ter` is being used instead which is part of the nuclear variables

[2018-10-18 13:50] jenil commented on #51
This is most like as coz the variable was added to Bulma after the theme was initially made. I will be happy to review a PR for this :)

[2018-10-18 19:14] thatkookooguy commented on #51
@jenil sure, I'll try and send one this weekend :-)

[2018-10-24 14:24] #51 closed, assigned to nobody

[2018-10-27 14:08] jenil commented on #48
Switching to a dark font just for one of the state of the component doesn't look that well. Gonna leave this as it is for now.

[2018-10-27 14:08] #48 closed, assigned to nobody

[2018-10-28 00:44] hipstersmoothie opened #53 "Slate and Superhero problem overrides"
Im build a little module that dynamically load bulma swatches into a website. I en up having to cache the css files all on the page. So a one point I may have all the different style sheets loaded but only the one at the bottom is the one in use. This works well expect for two swatches: slate and superhero. they both do something unique that the other sheets dont do.

`background-color: $body-back

[2018-10-28 03:21] hipstersmoothie opened #54 "I built something pretty cool!"
Bulma swatches as a react hook and a component.

https://github.com/hipstersmoothie/bulma-swatch-hook

Would you be okay with adding this to the readme? It makes theming with bulmaswatch a breeze.

[2018-10-28 09:09] DJWoodZ commented on #48
That's a shame but I understand. Thank you for taking a look at this.

[2018-10-29 14:10] jenil commented on #54
Not sure how this helps though. I think you should try adding it here https://github.com/jgthms/bulma#related-projects

[2018-10-29 18:10] #54 closed, assigned to nobody

[2018-12-07 13:39] seriouz opened #55 "Icon sizes wrong"
I think there is something wrong with the icons sizes:

![image](https://user-images.githubusercontent.com/4722613/49650870-efe47800-fa2d-11e8-95a2-d8d76f0a8891.png)

[2018-12-07 16:59] jenil commented on #55
yeah, this is because the icon library needs to be updated and I haven't done it.

[2019-02-11 00:06] firdaus-aziz opened #56 "Update to Bulma 0.7.4"
https://github.com/jgthms/bulma/releases/tag/0.7.4

[2019-03-04 13:07] rodrigoaguilera opened #57 "Feature request: Provide a non-minified version for each theme"
Although the .map file is available having a non-minified .css file can be handy while developing or when your CMS is alredy applying minification of the files.

I also noticed that bootswatch also provides this.

[2019-03-06 14:18] #43 closed, assigned to nobody

[2019-04-19 13:14] ghost opened #58 "Contact"
Hi @jenil,

I've created lots of extension for bulma and templates too. I alos created https://creativbeulma.net marketplace and I'd like to share an opportunity with you. Can you please contact me at gaetan@creativebulma.net so I'll be able to give you more details about it.

Regards,

[2019-04-19 13:59] jenil commented on #58
Hi, the website doesn't seem to load. Can you reach out to me with what you have in mind on i@jgog.in? :)

[2019-04-19 13:59] #58 closed, assigned to nobody

[2019-04-22 18:41] ghost commented on #58
Hi,

Sorry I've made a mistake in the url. It's https://creativebulma.net
Thanks for the email I'll contact you through it.

[2019-04-25 16:07] hobbyman opened #59 "select with is-multiple in the cerulean swatch has a bug"
Here, I've created a [codepen](https://codepen.io/hobbyman/pen/XQodKW) to demonstrate the issue.

It seems the issue is with this:

`.button,.control.has-icons-left .icon,.control.has-icons-right .icon,.input,.pagination-ellipsis,.pagination-link,.pagination-next,.pagination-previous,.select,.select select,.textarea{height:2.375em}`

This is my fix:

`.select, .select select {
    height: auto!imp

[2019-05-08 01:32] anitagraham opened #60 "Can't view theme names on demo pages"
This may be related to #29, but I can't view the theme names - unless they are hovered - on the demo page.
Just browsing themes it occurs to me that in addition to the dropdown it would be useful to have a page showing all the themes.

A set of cards with the main colours/typography visible would allow a user to pick and choose rather than running through the whole set of dropdown options page by

[2019-05-08 02:31] jenil commented on #60
Hey, I am not sure what you mean here. The dropdown is a known issue.

[2019-05-09 00:59] #60 closed, assigned to nobody

[2019-06-25 19:13] kerbo opened #62 "Flatley Navbar Rounder Corners"
Don't like the rounded corners on the Flatley navbar. Most navbars are square. Not sure if this was intentional.

I changed the border-radius to 0 in my project to fix.

[2019-06-25 19:24] jenil commented on #62
That's how Flatly is designed, feel free to override as you like it

[2019-06-25 19:24] #62 closed, assigned to nobody

[2019-07-17 21:05] thmsklngr opened #63 "Update swatches to 0.7.5?"
Hi,

I really love the swatches, because I love Bulma. I often do not have the time to create my own theme, so it's very practical to use those swatches for fast prototyping. I just noticed that the swatches are still on version 0.7.2, Bulma already has 0.7.5, which provides some nice enhancements. Are there any plans to push the swatches to the current version?

Regards, Thomas

[2019-08-16 08:35] ljosberinn opened #64 "npm install currently fails for 0.7.3 and 0.7.4"
According to the commit log, 0.7.4 shouldn't even be available if I'm not mistaken but that's the version npm shows both when running `npm install` in an empty dir and on the [package site](https://www.npmjs.com/package/bulmaswatch).

0.7.3 fails for the same reason:

[code]

0.7.3
[code]

[2019-08-16 15:15] jenil commented on #64
Thanks for reporting! looks like https://github.com/jenil/bulmaswatch/commit/90c04bea0bf8edeaf85f0b591e2f64684e8c1993 caused the issue. Going to fix this now

[2019-08-16 15:22] #64 closed, assigned to nobody

[2019-08-16 15:50] jenil commented on #64
@ljosberinn please try now!

https://www.npmjs.com/package/bulmaswatch/v/0.7.4-1

[2019-08-18 14:52] #63 closed, assigned to jenil

[2019-10-19 09:25] jameswatson97 opened #66 "Update to Bulma 0.8.0"
[https://github.com/jgthms/bulma/releases/tag/0.8.0](url)

[2019-11-01 12:05] rodrigoaguilera opened #67 "Indicate new releases with git tags"
It is a bit confusing to see the release 0.7.5 and the latest tag to be 0.7.2.

I guess npmjs.com scans the repo from time to time and checks if the ```version``` key has changed and releases a new version.

I think it could be simpler with git tags.

Thank you for the awesome project

[2019-11-02 22:17] jenil commented on #67
Hey, I realized that all releases were tagged but not pushed to GitHub, I just pushed them!

[2019-11-02 22:17] #67 closed, assigned to nobody

[2019-11-03 06:31] rodrigoaguilera commented on #67
Great :)

[2019-11-05 20:11] noraj opened #68 "Changelog"
Could you provides a changelog in the future please.

[2019-11-06 00:32] jenil commented on #68
The change log is pretty much the same as [bulma](https://github.com/jgthms/bulma/blob/master/CHANGELOG.md)

[2019-11-18 21:55] #68 closed, assigned to nobody

[2019-11-21 20:11] #56 closed, assigned to jenil

[2020-01-08 18:23] tonyjmartinez opened #70 "Dynamically change theme in React"
Is there a way to dynamically change the bulma theme in React without reloading the page? Since these themes involve requiring files I'm having trouble figuring out a way to change the theme without doing a `window.location.reload()`.

[2020-01-09 05:35] #70 closed, assigned to nobody

[2020-01-09 06:45] jenil commented on #70
You should be able to do this with swapping the case files. Reload will not be needed then.

[2020-01-09 14:50] tonyjmartinez commented on #70
@jenil by case files do you mean `_variables.scss` and `_overrides.scss`? And how would you swap them? I have a solution right now that happens in a `dangerouslySetInnerHtml` but it looks buggy since the whole stylesheet is changing.

[2020-02-06 02:37] RobJacobson opened #71 "Override _variables.scss in separate .scss file?"
Thanks for making Bulmaswatch!  I'm really liking the Flatly theme.  However, I'm having difficulty overriding the Flatly font (Lato) with a custom font (Nunito).

My setup is:
1.  I installed both Bulma and Bulmaswatch using NPM.
2.  I have a separate "index.scss" file that I'm attempting to use for my own customizations.  It currently has the following structure:
[code]

I'm trying to set $famil

[2020-02-10 16:44] jenil commented on #71
you can simply copy the contents of `flatly/_variables.scss` and make your own version of it and import it.

[2020-02-10 16:44] #71 closed, assigned to nobody

[2020-02-14 16:22] steveperrito opened #72 "Feature request: Neomorphism theme perhaps?"
It might turn out to be a passing fad, but right now it seems like it'd be a cool addition to this repo.

[2020-02-14 23:05] jenil commented on #72
can you make a PR for this? I don't really have the time to make a new theme.

[2020-02-14 23:05] #72 closed, assigned to nobody

[2020-03-18 10:53] ghost opened #73 "Accessibility?"
First off, thanks for this resource. Incredibly helpful.

Any interest in adding a high-contrast theme, ie, one that ticks the WCAG contrast guidelines as closely as possible within the confines of the way Bulma does things? Some of the ones here already are way closer than the Bulma default, but they aren't quite there yet I think. This would obviously look way worse from the design standpoint, b

[2020-03-18 18:12] jenil commented on #66
https://github.com/jenil/bulmaswatch/releases/tag/v0.8.0

[2020-03-18 18:12] #66 closed, assigned to jenil

[2020-03-20 13:56] jenil commented on #73
hey @ffmike, do you have suggestions on themes which are close enough and we can handle them on a case by case basis?

[2020-03-20 19:31] aayushdutt opened #74 "wrong dropdown behavior in materia theme's navbar"
https://jenil.github.io/bulmaswatch/materia/
Hovering over the dropdown menu makes the parent link's background-color and color white
![image](https://user-images.githubusercontent.com/25280541/77199675-3e2c6600-6b0f-11ea-86ff-e4f3923ac816.png)

[2020-03-20 19:35] aayushdutt opened #75 "ReferenceError: primordials is not defined on yarn start on Node v12.14"
Probably should update the documentation about the Node.js version requirement
See: https://github.com/gulpjs/gulp/issues/2324

[2020-03-20 19:38] jenil commented on #75
yes, I'm aware of this. This project can live with Gulp 3 for now.

[2020-03-20 19:38] #75 closed, assigned to nobody

[2020-03-20 19:39] jenil commented on #74
See #29

[2020-03-20 19:39] #74 closed, assigned to nobody

[2020-03-20 20:40] ghost commented on #73
I ran all of the theme sample pages through the https://www.checkmycolours.com/ online checking tool. Here are the number of accessibility failures of each theme, as measured by contrast ratio:

cerulean: 529
default: 533
journal: 533
materia: 607
spacelab: 631
litera: 727
lumen: 741
cosmo: 745
sandstone: 1643
yeti: 1797
simplex: 1834
pulse: 1842
flatly: 1855
lux: 1866
united: 1941
minty: 1999
nuc

[2020-03-22 14:34] gabriel4649 opened #78 "Input text is hardly visible in dark themes by default"
Hi!

First of all, thank you for putting this together.

Input text is hardly visible in dark themes by default. For example, look at the cyborg theme

![image](https://user-images.githubusercontent.com/232527/77252131-aae75380-6c28-11ea-8111-2dfa8ef310e0.png)

Not sure if this is intended or not.

[2020-03-22 15:37] jenil commented on #78
This was after the 0.8.0 update, I'll fix this.

[2020-03-30 15:27] #29 closed, assigned to jenil

[2020-04-08 21:55] kabobrocks commented on #78
any ETA on this @jenil ?

[2020-04-08 22:30] jenil commented on #78
I'll get to it this week

[2020-04-14 06:04] yrichard commented on #27
I'm having the exact same problem in 0.8.2.

[2020-04-17 02:59] sunsetsonwheels commented on #78
I'm not sure if this is related but this seems to be a common problem for most of the form controls right now, not just the input, the select ones are broken too.

[2020-04-26 22:14] #55 closed, assigned to jenil

[2020-04-26 22:17] jenil commented on #78
Pushed in https://github.com/jenil/bulmaswatch/releases/tag/v0.8.1

[2020-04-26 22:17] #78 closed, assigned to jenil

[2020-04-26 22:17] jenil commented on #59
Pushed in [0.8.1](https://github.com/jenil/bulmaswatch/releases/tag/v0.8.1)

[2020-05-14 07:43] kerams commented on #59
A bunch of other themes (united, to name just one) seem to have this problem with `<select multiple size="10">` too.

[2020-05-14 14:27] jenil commented on #59
hey @kerams, thanks for reporting!

Just confirmed this issue still persist in some themes. I'll get to it..

[2020-05-14 14:29] jenil commented on #57
Hey @rodrigoaguilera

I wonder how this will affect the minification that the CMS applies since that will readily ingest a minified file and try to minify is further.

[2020-05-14 15:04] rodrigoaguilera commented on #57
Having the non-minified version for performing different minification is not a strong point in favor of this change.
Is still nice to have a non-minified version to browse but it is no biggie.

[2020-05-31 10:49] rodrigoaguilera commented on #59
I think this is very much solved in the sandstone theme by using the `.select:not(.is-multiple)` selector.
Can't this be applied to every theme?

[2020-06-04 10:23] deather commented on #59
This issue was probably fixed with the PR #81 . I try in local the other theme after adding select multiple in templates, and all seem to be OK

[2020-06-08 15:45] n0v3xx opened #82 "Is it v0.9 compatible?"
Is it bulma v0.9 compatible?

[2020-06-08 16:03] jenil commented on #82
Hey, it was just released yesterday!

Want to give it a shot and see whether it is compatible or not?

[2020-06-14 19:57] NeiPCs commented on #82
I love this theme!
+1 waiting for 0.9

[2020-06-16 14:24] #59 closed, assigned to jenil

[2020-06-16 14:26] jenil commented on #73
Hey @ffmike Sorry for getting back on this so late.

I think it definitely sounds reasonable and I'm happy to review a PR for this!

[2020-06-21 21:56] n0v3xx commented on #82
@jenil does it work?

[2020-06-23 17:22] 654wak654 commented on #82
I don't know what "compatible" exactly means in this context, but I've been using Yeti with bulma 0.9.0 with no issues.

Obviously the prebuilt css files are missing 0.9.0 features, but I use a sass file so that doesn't effect me.

[2020-07-27 11:43] jondoe1337 opened #83 "Using px in darkly theme should be discouraged"
Size is set to 15px. But this collides for example if you use bulma-switch where the variable is used with rem, which leads to:

[code]

[2020-07-27 13:19] jenil commented on #83
I think you might want to handle this with custom CSS since bulma-switch is anyways a plugin right?

[2020-07-27 14:10] jondoe1337 commented on #83
This sounds more like a workaround to me. The thing is that the themes sometimes use rem and darkly px. And some do not even define any size.

[2020-07-27 14:16] jenil commented on #83
I'm not sure if I understand this correctly then, can you make a codepen or point me to something? Darkly just updates the base variables and a few overrides to achieve the look

[2020-07-27 14:30] jondoe1337 commented on #83
Sure:
https://github.com/jenil/bulmaswatch/blob/gh-pages/darkly/_variables.scss#L28
Uses _px_. If the size is used somewhere else with a relative setting using _rem_ the sass compiler will crash.

Of course bulma-switch is a plugin, but I'd say that _rem_ is more commonly used in the template context.

[2020-08-04 16:26] alqu commented on #82
It works for me in the same way as for @654wak654. @jenil Could you please update this repo?

[2020-09-03 23:01] Wispik opened #85 "Problem with click icon in b-input and b-autocomplete"
Buefy version: 0.9.2
Bulmaswatch united theme

If set property clearable=true on autocomplete, or set icon-clickable=true on input. Click icon didn`t work

Screenshot 1: with bulmaswatch [united theme] (see on mouse cursor)
![1](https://user-images.githubusercontent.com/8837670/92181554-30b33000-ee52-11ea-9f7d-39db40b310e7.png)

Screenshot 2: without bulmaswatch
![2](https://user-images.githubuser

[2020-10-08 08:59] elmatou opened #86 "$navbar-breakpoint issue"
Hi,
since Bulma 0.7.5 it is possible to change the breakpoint of the navbar (when the burger menu appear)
Bulma implemented it using `+until($navbar-breakpoint)` & `+from($navbar-breakpoint)`

when bulmaswatch implement it with `@include touch` & `@include desktop` which do not take into consideration `$navbar-breakpoint`

https://github.com/jenil/bulmaswatch/blob/9f392634ff8d6c1fda1fcbabcea28b9f4

[2020-10-23 11:17] alqu commented on #82
See #84.

[2020-10-30 19:26] prlinsell opened #88 "is-size-7 doesn't seem to work on a span element"
is-size-7 doesn't seem to work on a span element, which I'm using within a card.
I have something like the following:
<p class="is-size-5 has-text-left">Some Text
  <span class="is-size-7 is-italic"> (small italics text)</span>
</p>

The 'small italics text' isn't appearing in the small size. I'm using the darkly theme.
Attached are two simple HTML files one with vanilla Bulma and the other the sa

[2020-10-30 23:55] mathew-adams commented on #82
Also looking for this feature to get access to the new spacing (mb-1, my-0, etc.)

[2020-11-06 14:59] loopmode commented on #86
This is with at least superhero as well 🙂

[2020-11-07 15:41] elmatou commented on #86
looking at the code of different template, it seems to be everywhere.

[2021-01-17 17:34] noraj opened #91 "notification light version"
Since bulma 0.8.1, notification has also a light color version, see https://bulma.io/documentation/elements/notification/#light-colors

bulmaswatch variant doesn't support it

[2021-02-03 13:58] leducvin opened #92 "Navbar minor issues since PR #77"
Hello, quite the CSS novice here, but I believe PR https://github.com/jenil/bulmaswatch/pull/77 slightly broke several themes:
Flatly, Darkly, and a few others. No apparent issue in the default theme, however.

They still look good, but have minor issues with what used to be the navbar inside hero at the top of the page.

One can see rounded corners around the navbar at the top, i.e. border-radius

[2021-02-27 19:17] adaptivecorporation opened #93 "Select box ::after arrow too far right"
Is anyone else experiencing this?

![image](https://user-images.githubusercontent.com/65312525/109397787-87cc2600-7906-11eb-8140-c057f5bde6de.png)

[2021-02-28 22:28] #93 closed, assigned to nobody

[2021-03-02 07:02] andy47 commented on #82
Looking forward to this as well, is there anything us non-coders can do to help?

[2021-03-02 11:14] alqu commented on #82
Not sure, see https://github.com/jenil/bulmaswatch/pull/84#issuecomment-720135357

[2021-06-01 20:55] suterma opened #97 "Progress bar background differs between Firefox and Chrome"
I have spotted a minor glitch when using progress bars, between Firefox and Chrome.

Maybe it's just my setup, but I use the lastest versions of each browser, on an updated Ubuntu 20.04.

In Chrome (right in the screenshot), the backgrounds of the progress bars are nicely dark. In Firefox (left) the proress bar background is white.
![Screenshot from 2021-06-01 22-54-13](https://user-images.githubu

[2021-06-01 20:56] suterma commented on #97
Examples from https://jenil.github.io/bulmaswatch/nuclear/#progress

[2021-06-20 12:58] themodernpk opened #99 "Include All UI element of Bulma v0.9.3"
I was comparing UI elements of your default theme with Bulma official site, I realized a number of UI elements are missing.

Example:

[Default Theme Demo](https://jenil.github.io/bulmaswatch/default/#notifications)

vs

[Bulma](https://bulma.io/documentation/elements/notification/)

The light version of notifications is missing.

Can you please include the theme too?

Thanks

[2021-07-06 16:07] #86 closed, assigned to jenil

[2021-12-05 10:32] bitFez opened #103 "Markdown white font and white background"
Markdown fenced off code has a white background and also white font.
I can't seem to override this using classes and can't seem to find where this can be changed in the css stylesheet either.
Any help would be appreciated.

[2022-01-20 16:36] cdwieber opened #104 "Documentation: Navbar Dropdown on "Help" page has incorrect text colors"
On this specific page: https://jenil.github.io/bulmaswatch/help/

The text color for the "Themes" dropdown menu items is white on a white background (the hover state remains unaffected).

![image](https://user-images.githubusercontent.com/4976963/150380893-af4ac9f2-0ebf-4caa-8c23-1705fe6b2f9d.png)

Browser: Chrome Version 97.0.4692.71 (Official Build) (x86_64)
OS: macOS Big Sur, 11.5 (20G71) (Inte

[2022-01-20 18:10] jenil commented on #104
See #29

[2022-01-20 18:10] #104 closed, assigned to nobody

[2022-08-11 22:56] noraj commented on #82
Not having 9.x we miss some components (https://github.com/jenil/bulmaswatch/issues/99) and also still have bugs that were fixed upstream (https://github.com/jgthms/bulma/issues/3009#issuecomment-1146692017)

[2022-08-12 11:49] davetapley commented on #70
@tonyjmartinez did you find a way?

[2022-09-17 15:24] usagi opened #110 "How is the status of `@imort` deprecation and replace to @use/@forward?"
I mainly use the npm version of bulmaswatch. With `@import` being deprecated in Dart Sass, bulmaswatch should be replaced with `@use` and `@forward`. However, at this time, the bulmaswatch source is so dependent on `@import` that we may have to consider discontinuing its use. Are there any plans for bulmaswatch to support the obsoletion of `@import`?

- See also: https://sass-lang.com/documentatio

[2022-11-15 20:04] ddupas opened #111 "bookmarklet use"
in order to use the bookmarklet we had to make some minor modifications, thought you might like to see that, i would of rather been able to import the bookmarklet with a crossorigin script tag and avoided maintaining this file (minor issue) ;) thank you for the bookmarklet

https://github.com/ddupas/msfish/blob/main/bookmarklet.js

[2022-11-15 20:33] jenil commented on #111
@ddupas thanks, can you make a PR?

[2022-11-20 02:16] ddupas commented on #111
instead of the bookmarklet js file in the root of the project i created a submodule and linked the project as a submodule
pull request:
https://github.com/jenil/bulmaswatch/pull/112
submodule:
https://github.com/ddupas/swatchpicker

thank you!